[run]
branch = True
source = src/

[report]
exclude_lines =
    if self.debug:
    if debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    ^pass$
    OSError
    RuntimeError
    AssertionError
    BaseException
    InvalidToken
    except ImportError:
ignore_errors = True
omit =
   src/SuperHelper/Tests/*
   src/SuperHelper/Modules/*
